<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Medicine</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/medicine.css' %}">
</head>
<body>
  <div class="container">
    <div class="content">
      <h2>Add Medicine</h2>
      <form action="{% url 'medicines' %}" method="post" >
          {% csrf_token %}
        <div class="input-group">
          <label for="medicine_name">Medicine Name:</label>
          <input type="text" id="medicine_name" name="medicine_name" placeholder="Enter medicine name" required>
        </div>
        <div class="input-group">
          <label for="price">Price:</label>
          <input type="number" id="price" name="price" placeholder="Enter price" required>
        </div>
        <div class="input-group">
          <label for="company">Company Name:</label>
          <input type="text" id="company" name="company" placeholder="Enter company name" required>
        </div>
        <div class="input-group">
          <label for="use">Use:</label>
          <textarea name="use" id="use" rows="4" cols="50" placeholder="Use instructions..."></textarea>
        </div>
        <div class="input-group">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" min="0" placeholder="Enter quantity" required>
        </div>
        <button type="submit">Add Medicine</button>
      </form>
    </div>
  </div>
</body>
</html>+