/* Basic styles */
.signup-form {
  width: 80%;  /* Adjusted width to 80% */
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto;
  padding: 15px;  /* Reduced padding for a less spacious feel */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px 10px;  /* Reduced padding for a more compact look */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.form-control-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(3.5em + 0.75rem);
  margin: 0;
  padding: 0.5rem 1rem;
  overflow: hidden;
  font-family: sans-serif;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  -webkit-user-select: none;  /* Chrome <10 */
  user-select: none;
}

.form-control-file:input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.form-control-file::after {
  content: "Choose File"; /* Default text */
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: pointer;
  
}  
